:root {
  --header-height: 50px;
}

* {
  box-sizing: border-box;
}

html,
body,
div,
h1 {
  margin: 0;
  padding: 0;
}

.site-container {
  width: 100%;
}

.header {
  border-bottom: 1px solid #cacaca;

  width: 100%;
  height: var(--header-height);
}

.container {
  display: flex;
}

.sidebar {
  /* max-height: calc(100vh - var(--header-height)); */
  width: 400px;
  padding: 1rem;
  border-right: 1px solid #cacaca;
}

.main {
  flex: 1;
  padding: 1rem;
  overflow: scroll;
}

.vote-average-card {
  width: 75px;
  height: 75px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  background-color: #c8c8c8;
}

.vote-average-card__text {
  font-size: 12px;
}

.vote-average-card__rating {
  font-size: 20px;
  font-weight: 600;
}
